.TodoCard{
  width: 30%;
  border:1px solid black;
  box-sizing: border-box;
}

.TodoCard__selected{
  border:3px solid blue;
}
.TodoCard__topOfHead{
  display: flex;
  justify-content: space-around;
  margin: 5px 10px 5px;
}